<div nz-row class="wrapper">
  <div nz-col [nzSpan]="15" [nzOffset]="1" *ngIf="userData.id === 1">
    <h3 class="title">用户列表</h3>
    <nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10">
      <thead nz-thead>
        <tr>
          <th nz-th [nzWidth]="'25%'">
            <span>用户名</span>
          </th>
          <th nz-th [nzWidth]="'25%'">
            <span>用户ID</span>
          </th>
          <th nz-th [nzWidth]="'25%'">
            <span>注册时间</span>
          </th>
          <th nz-th [nzWidth]="'25%'">
            <span>备注</span>
          </th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
          <td nz-td>{{data.username}}</td>
          <td nz-td>{{data.id}}</td>
          <td nz-td>{{data.create_time | date:'yyyy/MM/dd hh:mm:ss'}}</td>
          <td nz-td>{{data.comment}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div nz-col [nzSpan]="23" [nzOffset]="1" *ngIf="userData.id === 1">
    <h3 class="title">注册新用户</h3>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()" nz-col [nzSpan]="4">
      <div nz-form-item>
        <div nz-form-control>
          <nz-input formControlName="userName" [nzPlaceHolder]="'用户名'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-user"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">请输入用户名</div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control>
          <nz-input formControlName="passwordFirst" [nzType]="'password'" [nzPlaceHolder]="'密码'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-lock"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="validateForm.controls.passwordFirst.dirty&&validateForm.controls.passwordFirst.hasError('required')">请输入密码</div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control>
          <nz-input formControlName="passwordSecond" [nzType]="'password'" [nzPlaceHolder]="'确认密码'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-lock"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="validateForm.controls.passwordSecond.dirty&&validateForm.controls.passwordSecond.hasError('required')">请再输入密码</div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control>
          <nz-input formControlName="comment" [nzPlaceHolder]="'备注'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-folder-open"></i>
            </ng-template>
          </nz-input>
        </div>
      </div>
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid">提交</button>
      <button nz-button [nzSize]="'large'" (click)="resetForm($event)">重置</button>
    </form>
  </div>
  <div nz-col [nzSpan]="23" [nzOffset]="1">
    <h3 class="title">修改密码</h3>
    <form nz-form [formGroup]="modifyForm" (ngSubmit)="_modifyForm()" nz-col [nzSpan]="4">
      <div nz-form-item>
        <div nz-form-control>
          <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'原密码'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-lock"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="modifyForm.controls.password.dirty&&modifyForm.controls.password.hasError('required')">请输入原密码</div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control>
          <nz-input formControlName="modifyPasswordFirst" [nzType]="'password'" [nzPlaceHolder]="'新密码'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-lock"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="modifyForm.controls.modifyPasswordFirst.dirty&&modifyForm.controls.modifyPasswordFirst.hasError('required')">请输入新密码</div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control>
          <nz-input formControlName="modifyPasswordSecond" [nzType]="'password'" [nzPlaceHolder]="'确认新密码'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-lock"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="modifyForm.controls.modifyPasswordSecond.dirty&&modifyForm.controls.modifyPasswordSecond.hasError('required')">请再次输入新密码</div>
        </div>
      </div>
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!modifyForm.valid">提交</button>
    </form>
  </div>
</div>
