<div class="wrapper" [ngClass]="{ 'show': !isLoggedIn, 'hide': isLoggedIn }">
  <div class="header">
    <div class="top-banner">
      <div class="left-img"></div>
      <a href="#">Blog 管理</a>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="6" [nzOffset]="4">
      <h1>登录</h1>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm()">
        <div nz-form-item>
          <div nz-form-control>
            <nz-input formControlName="username" [nzPlaceHolder]="'用户名'" [nzSize]="'large'">
              <ng-template #prefix>
                <i class="anticon anticon-user"></i>
              </ng-template>
            </nz-input>
            <div nz-form-explain *ngIf="validateForm.controls.username.dirty&&validateForm.controls.username.hasError('required')">请输入用户名</div>
          </div>
        </div>
        <div nz-form-item>
          <div nz-form-control>
            <nz-input formControlName="password" [nzType]="'密码'" [nzPlaceHolder]="'密码'" [nzSize]="'large'">
              <ng-template #prefix>
                <i class="anticon anticon-lock"></i>
              </ng-template>
            </nz-input>
            <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">请输入密码</div>
          </div>
        </div>
        <div nz-form-item>
          <div nz-form-control>
            <label nz-checkbox formControlName="remember" class="remember">
              <span>记住我</span>
            </label>
            <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">登录</button>
          </div>
        </div>
      </form>
    </div>
    <div nz-col [nzSpan]="6" [nzOffset]="2" class="verse">
      <p nz-col>Roots are the branches down in the earth.Branches are roots in the air.</p>
      <p nz-col [nzOffset]="2">Eyes are raining for her,heart is holding umbrella for her,this is love.</p>
      <p nz-col [nzOffset]="4">I leave no trace of wings in the air,but I am glad I have had my flight.</p>
      <p nz-col [nzOffset]="6">We read the world wrong and say that it deceives us.</p>
      <p nz-col [nzOffset]="4">Let life be beautiful like summer flowers and death like autumn leaves.</p>
      <p nz-col [nzOffset]="2">The world has kissed my soul with its pain, asking for its returnn songs.</p>
      <p nz-col>Loneliness is a person's Carnival, carnival is a group of people's loneliness.</p>
      <!-- <p nz-col>It is the most distant course that comes nearest to thyself, and that training is the most intricate which leads to the utter simplicity of a tune.</p> -->
    </div>
  </div>
</div>
