/* You can add global styles to this file, and also import other style files */
body {
    overflow: hidden;
}
@font-face {
    font-family: MathFont;
    src: url('./assets/fonts/mathFont.woff2'); /* IE9+ */
}