<nz-layout class="layout" [ngClass]="{ 'show': isLoggedIn, 'hide': !isLoggedIn }">
  <nz-header class="clearfix">
    <div class="logo">Blog</div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" class="nav">
      <ng-container *ngFor="let nav of navData">
        <li nz-menu-item [nzSelected]="nav.path === curUrl" *ngIf="nav.path != ''">
          <a routerLink="{{ nav.path }}">{{ nav.title }}</a>
        </li>
      </ng-container>
      <div class="right">
        <nz-tooltip [nzTitle]="'退出'" [nzPlacement]="'bottom'">
          <button nz-tooltip nz-button [nzType]="'danger'" [nzSize]="size" [nzShape]="'circle'" (click)="showConfirm()">
            <i class="anticon anticon-logout"></i>
          </button>
        </nz-tooltip>
      </div>
    </ul>
  </nz-header>
  <nz-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>
    <p>&copy; 2017
      <i class="anticon anticon-heart"></i> Blog&nbsp;|&nbsp;由 Angular 强力驱动</p>
  </nz-footer>
</nz-layout>
