body,
html {
    height: 100%;
    overflow: hidden;
}

.layout {
    transition: all 1.5s;
    overflow: auto;
}

:host ::ng-deep {
    overflow: hidden;
    height: 100%;
    .show {
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
        z-index: 1;
    }
    .hide {
        opacity: 0;
        transform: rotateZ(360deg) scale(0.5);
        z-index: -1;
    }
    .nav {
        border-bottom: none;
        li {
            height: 32px;
            margin-top: 16px;
            border-radius: 5px;
            a {
                height: 100%;
                line-height: 32px;
                font-size: 13px;
            }
        }
        .right {
            width: 50px;
            margin-top: 8px;
            float: right;
            text-align: center;
        }
    }
    .ant-menu.ant-menu-dark .ant-menu-item-selected {
        background-color: #f0f0f0;
        a {
            color: #333;
        }
    }
    .logo {
        width: 120px;
        height: 31px;
        margin: 16px 34px 16px 0;
        font-size: 18px;
        text-align: center;
        line-height: 31px;
        color: #FFF;
        border-radius: 6px;
        float: left;
    }
    .content {
        position: absolute;
        width: 80%;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 65px;
        background-color: #fff;
        box-shadow: 3px 3px 10px 0 #ccc;
        border-radius: 5px;
        overflow: auto;
    }
}

nz-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

nz-footer {
    text-align: center;
    .anticon-heart {
        color: #f04134;
    }
}